<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">{{placeToShow.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deletePlace()">
        <ion-icon slot="start" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-img [src]="placeToShow.img"></ion-img>
        <ion-list *ngIf="placeToShow?.comments?.length > 0; else noComments">
          <ion-item *ngFor="let comment of placeToShow.comments">
            <ion-label>{{comment}}</ion-label>
          </ion-item>
        </ion-list>
        <ng-template #noComments>
          <ion-text color="danger">
            <p>No comments yet</p>
          </ion-text>

        </ng-template>
        

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
