<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Photos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let photo of photos">
      <ion-img [src]="photo.thumbnailUrl"></ion-img>
      <ion-card-content>
        <ion-card-title>{{photo.title}}</ion-card-title>
        <a [href]="photo.url" target="_blank">{{photo.url}}</a>
      </ion-card-content>
    </ion-card>
  </ion-list>
  
</ion-content>
